{# Template général de la page #}
{% extends 'base.html.twig' %}

{# Titre de la page #}
{% block title %}Aventures Gustatives{% endblock %}

{# Ici vous mettez vos codes HTML et balises Twig au besoin #}
{% block body %}

    <h1 style="color: #79a363" class="text-center text-3xl font-light">Bienvenue sur Aventures Gustatives !</h1>

    <div class="max-w-4xl m-auto mt-4">
        <h1 class="text-base">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam, assumenda commodi, deserunt dolorem doloremque magni maiores molestiae optio quaerat,
            quasi repudiandae voluptates! Fuga in incidunt repellendus. Accusamus amet aperiam ex explicabo, facilis fuga illo, magnam maxime minus obcaecati
            quae quas qui quidem quis quisquam ratione reiciendis totam voluptas voluptatum?</h1>
    </div>

    <div class="max-w-4xl m-auto mt-3 flex justify-between">
        <!-- Section social -->
        <div class="w-1/3">


        <section>
            <h3 style="font-family: 'Roboto Light',serif" class="italic text-2xl">Bonjour</h3>
            <hr style="height: 1px;background-color: #B2996B;border: none;" class="w-6 mt-2 my-3">
            <p class="">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque dolor eaque explicabo fuga labore perspiciatis rerum sequi tempora voluptatem. Dolor.</p>
            <hr style="height: 1px;background-color: #B2996B;border: none;" class="mt-2 my-3">

            <div class="flex justify-between text-2xl">
                <a href="https://www.instagram.com/" class="fa fa-instagram"></a>
                <a href="https://www.facebook.com/" class="fa fa-facebook"></a>
                <a href="https://www.pinterest.fr/" class="fa fa-pinterest"></a>
                <a href="https://www.youtube.com/" class="fa fa-youtube"></a>
            </div>

            <hr style="height: 1px;background-color: #B2996B;border: none;" class="my-5">
            <h1 style="font-family: 'Roboto Light',serif" class="italic text-3xl text-center">Élu meilleur blog culunaire</h1>
            <hr style="height: 1px;background-color: #B2996B;border: none;" class="my-5">
            <h2 class="italic text-xl">Ma dernière recette</h2>
            <hr style="height: 1px;background-color: #B2996B;border: none;" class="w-6 mt-2 my-3">

            <div class=" rounded overflow-hidden border w-full bg-white mx-3 md:mx-0 lg:mx-0">
                {% for article in lastarticle %}
                <img class="w-full bg-cover" src="{{ asset(article.imageFile)}}">
                <div class="px-3 pb-2">
                    <div class="pt-1">
                        <div class="mb-2 text-sm">
                            <h1 class="font-medium mr-2">{{ article.title }}</h1>

                            <a href="{{ path('app_recettes_details', {'id': article.id}) }}">
                                <button class="w-full bg-button-green mt-2 py-2 text-white">Voir la recette</button>
                            </a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </section>
        </div>

        <!-- Section posts -->

        <div class="w-3/5">
            {% for article in articles|reverse %}
                <section class="my-5">
                    <div  class=" rounded overflow-hidden border w-full bg-white mx-3 md:mx-0 lg:mx-0">
                        <img style="background-color: #79a363" class="max-h-screen" src="{{ asset(article.imageFile)}}">
                        <div class="px-3 pb-2">
                            <div style="color: #79a363" class="pt-2">
                                <span class="text-sm  font-medium fa fa-user"> {{ article.idUser.pseudo }} •</span>
                                <span class="text-sm  font-medium"> Le {{ article.creationDate|date("m/d/Y") }} •</span>
                                <span class="text-sm  font-medium"> {{ article.categorie }}</span>
                            </div>
                            <div class="pt-1">
                                <div class="mb-2 text-sm">
                                    <h1 class="font-medium mr-2">{{ article.title }}</h1>
                                    <p style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;">{{ article.description}}</p>

                                    <a href="{{ path('app_recettes_details', {'id': article.id}) }}">
                                        <button class="w-full mt-2 bg-button-green py-2 text-white">Voir plus...</button>
                                    </a>
                                    <hr class="my-2">
                                </div>
                            </div>
                            <div class="text-xs mb-2 cursor-pointer font-medium fas fa-comment-alt fa fa-envelope"> {{ article.commentaires|length}} commentaires</div>
                        </div>
                    </div>
                </section>
            {% endfor %}
        </div>
    </div>

{% endblock %}