{# Template général de la page #}
{% extends 'base.html.twig' %}

{# Titre de la page #}
{% block title %}Je suis Admin{% endblock %}

{# Ici vous mettez vos codes HTML et balises Twig au besoin #}
{% block body %}


    <!-- Section posts -->
    <div class="w-1/3 m-auto">
        <div class="rounded border w-full bg-white mx-3 md:mx-0 lg:mx-0">
            {{ form_start(form) }}
                {{ form_row(form.title) }}
                {{ form_row(form.description) }}
                {{ form_row(form.imageFile) }}
                {{ form_row(form.categorie) }}
            <button type="submit">Ajouter</button>
            {{ form_end(form) }}
        </div>

    </div>
{% endblock %}